<!DOCTYPE html>
<html ng-app="musicAlbumsApp">
<head>
<meta charset="UTF-8">
<title>AngularJS Demonstration App</title>
<script type="text/javascript" src="./js/angular.js"></script>
<script type="text/javascript" src="./js/mycontroller.js"></script>
<script type="text/javascript" src="./js/musicAlbums.json"></script>

</head>
<body ng-controller="MusicAlbumsCtrl">

<div class="container-fluid">
  <div class="row">

    <div class="col-md-10">
      <!--Body content-->

    Search: <input ng-model="query">	
 	Sort by:
      <select ng-model="orderProp">
        <option value="artist">Artist</option>
        <option value="title">Album title</option>
        <option value="title">Price</option>
      
      </select>
      
	<ul class="albums">
	  <li ng-repeat="album in albums | filter:query | orderBy:orderProp ">
	    <span>Arist name : {{album.artist}}</span>
	    <p>Album title : {{album.title}}</p>
	    <p>Album price ($) : {{album.price}}</p>
	    <p>Album cover : <img ng-src="{{album.imageURL}}"> </p>
	  </li>
	</ul>

    </div>
  </div>
</div>

</body>
</html>